.nav-container {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    /* background: linear-gradient(to right, rgb(118, 116, 116), rgb(243, 158, 129)); */
    background-color: rgb(6, 117, 148);
    
}

.nav-container img {
    height: 200px;
}
.nav-container img:hover{
    transform: scale(1.1);
}
ul {
    list-style-type: none;
}

.nav-list li {
    font-size: 25px;
}
.nav-list li:hover{
    transform: scale(1.1);
}

.nav-list {
    display: flex;
    gap: 20px;
}

.nav-button {
    display: flex;
    gap: 20px;
    align-items: center;

}


.nav-button button {
    width: 80px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
}

button:hover {
    transform: scale(1.1);
    background-color: rgb(195, 189, 189);
}

.cart-order {
    width: 40px;
    height: 40px;
    color: black;
}
.cart-order:hover{
    transform: scale(1.1);
}
.active {
    padding-bottom: 2px;
    border-bottom: 2px solid black;
    cursor: pointer;
}
.active1 {
    padding-bottom: 2px;
    border-bottom: 2px solid rgb(207, 22, 22);
    cursor: pointer;
}