.cart-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; /* Space between items */
    justify-content: space-between;
   padding-top: 20px;
  }
 .cart-button{
  border-radius: 7px;
  width: 100px;
  height: 30px;
  font-size: 17px;
  cursor: pointer;
 }
 .cart-button:hover{
  transform: scale(1.1);
  background-color: rgb(239, 206, 115);
 }
 